ion-content
{
	[loginbg-img]
	{
		position: relative;
		z-index: 1;
		background: url('../../assets/images/login-bg.png') no-repeat center bottom / cover;
		height: 320px;
		display: flex;
		align-items: center;
		justify-content:center;
		overflow: hidden;
		h1
		{
			font-size: 50px;
			font-weight: bold;
			margin: 0px;
			color: #fff;
		}
		img {
			height: auto;
			width: auto;
			margin-top:-75px;
		}
	}
	[form-field]
		{
			    padding: 0px 25px 10px;
			    min-height: calc(100% - 320px);
			    display: flex;
			    flex-direction: column;
			    justify-content: space-between;
				[form-head] {
					margin-bottom: 40px;
					h2 {
						font-weight: 600;
					    font-size: 24px;
					    font-family: 'Montserrat', sans-serif;
					    color: var(--ion-color-dark);
					}
					p {
					    font-size: 16px;
					    font-family: 'Montserrat', sans-serif;
					    color: var(--ion-color-medium);
					    margin-top: 0;
					    line-height: 28px;
						font-weight: 500;
					}
				}
			 [form-group]
				   {
				    margin-bottom:20px;
					ion-item
					{
					 --border-radius:8px;
					 border-radius:8px;
					--min-height: 55px;
					 background:var(--ion-color-secondary);
					 --background:var(--ion-color-secondary);
					 ion-label
					 {
					       display: flex;
   						   align-items: center;
					 }
				           ion-input
								{ 
									--placeholder-font-weight:500;
									font-size: 14px;
								    font-weight: 600;
								    --placeholder-color: var(--ion-color-primary);
								    --placeholder-opacity: 1;
								    font-family: 'Montserrat', sans-serif;
								    color: var(--ion-color-primary);
								    --padding-top: 12px;
   									--padding-start: 10px;
								}
									.icon-pss {
						    display: flex;
						    color: var(--ion-color-dark);
						    margin-right: 10px;
						}
					}
				   }
				   [forgot] {
						    text-align: right;
						    margin: 20px 0;
						    a {
							    font-size: 16px;
							    font-family: "Montserrat", sans-serif;
							    color: var(--ion-color-primary);
							    font-weight: 600;
							    text-decoration: none;
							}
						}
				   [login-btn] {
					   	ion-button
						  {        --box-shadow: none;
								    min-height: 55px;
								    color: var(--ion-color-white);
								    --border-radius: 5px;
								    font-size: 16px;
								    font-weight: 400;
								    text-transform: capitalize;
								    margin: 15px 0px 0px;
								    font-family: var(--ion-poppins-font);
								    letter-spacing: 0;
						  }
				   }
				   [btn-signup] {
				   		   margin-top: 40px;
							   p {
								    font-size: 14px;
								    font-family: "Montserrat", sans-serif;
								    color: var(--ion-color-medium);
								    font-weight: 500;
								    letter-spacing: 0;
								    a  {
								    	    font-weight: 600;
								    }
								}
				   }
		}
}
