<ion-content>
	<div loginbg-img>
			<img src="assets/images/logo.png">
	</div>
	<div form-field>
		<div form-field-top>
			<div form-head>
			<h2>Reset Password</h2>
			<p>Enter your new password</p>	
		</div>
		<div form-group>
			<ion-item lines="none">
				<ion-label><img src="assets/images/lock.svg"/></ion-label>
				<ion-input type="text" placeholder="New Password"></ion-input>
					 <span class="icon-pss"><ion-icon name="eye-off-outline"></ion-icon></span>
			</ion-item>
		</div>	
		<div form-group>
			<ion-item lines="none">
				<ion-label><img src="assets/images/lock.svg"/></ion-label>
				<ion-input type="text" placeholder="Confirm  New Password"></ion-input>
					 <span class="icon-pss"><ion-icon name="eye-off-outline"></ion-icon></span>
			</ion-item>
		</div>	
				
		<div login-btn>
			<ion-button expand="full" color="primary" shape="round" routerLink="/tabs/home">
			 Save
			</ion-button>
		</div>	
		</div>
		
		<div btn-signup class="ion-text-center">
				<p> <a href="javascript:void(0)" routerLink="/login">Back to Login</a></p>
		</div>				
	</div>
</ion-content>
