<ion-header mode="ios">
  <ion-toolbar lines="none">
    <ion-back-button slot="end" defaultHref="/" text="" icon="close-outline"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div subs-bg-after>
  <div subscription-cont>
    <h1>Payment Successfull!</h1>
    <img src="assets/images/subs-img.png">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
  </div>
</div>
</ion-content>

<ion-footer>
  <ion-button save-btn shape="round" expand="full" color="primary"  routerLink="/tabs/tabs/home">Done</ion-button>	
 </ion-footer>
