<ion-header mode="ios">
  <ion-toolbar lines="none">
   <ion-back-button slot="start" defaultHref="/tabs/home" text="" icon="arrow-back-outline"></ion-back-button>
 <ion-title class="ttl-left">
   Applicants
 </ion-title>

 <ion-label slot="end" id="applicant-filter"><ion-icon name="options-outline"></ion-icon></ion-label>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div my-applicants> 

    <ion-card routerLink="/applicantdetails" >
      <ion-item lines="none" class="ion-no-padding">

          <img class="applicant-img" src="assets/images/adam.png">

        <ion-label>
          <h1>Adam Smith</h1>    
          <p>Bryn Mawr Riding Camp</p>
        </ion-label>
      </ion-item>

      <div card-content>
        <ion-row>
          <ion-col size="7" class="ion-no-padding">
            <ion-item lines="none">
              <img src="assets/images/job-phone.svg">
              <ion-label>
                <h4>Phone:</h4>
                <h2>+1 (629) 852693</h2>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="5" class="ion-no-padding">
            <ion-item lines="none">
              <img src="assets/images/facility.svg">
              <ion-label>
                <h4>Facility Type:</h4>
                <h2>Barrel Racing  -  Dressage</h2>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="7" class="ion-no-padding">
            <ion-item lines="none">
              <img src="assets/images/deadline.svg">
              <ion-label>
                <h4>Applied Date/Time:</h4>
                <h2>May 31, 2022  -  12:07am</h2>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

      </div>
      
    </ion-card>
    <ion-card routerLink="/applicantdetails" >
      <ion-item lines="none" class="ion-no-padding">

          <img class="applicant-img" src="assets/images/sara.png">

        <ion-label>
          <h1>Sarah Willson</h1>    
          <p>Senior DevSecOps Engineer - REMOTE</p>
        </ion-label>
      </ion-item>

      <div card-content>
        <ion-row>
          <ion-col size="7" class="ion-no-padding">
            <ion-item lines="none">
              <img src="assets/images/job-phone.svg">
              <ion-label>
                <h4>Phone:</h4>
                <h2>+1 (629) 852693</h2>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="5" class="ion-no-padding">
            <ion-item lines="none">
              <img src="assets/images/facility.svg">
              <ion-label>
                <h4>Facility Type:</h4>
                <h2>Barrel Racing  -  Dressage</h2>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="7" class="ion-no-padding">
            <ion-item lines="none">
              <img src="assets/images/deadline.svg">
              <ion-label>
                <h4>Applied Date/Time:</h4>
                <h2>May 31, 2022  -  12:07am</h2>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

      </div>
      
    </ion-card>

    <ion-card routerLink="/applicantdetails" >
      <ion-item lines="none" class="ion-no-padding">

          <img class="applicant-img" src="assets/images/daniel.png">

        <ion-label>
          <h1>Deniel Sebastain</h1>    
          <p>Remote Polyglot Software Engineer</p>
        </ion-label>
      </ion-item>

      <div card-content>
        <ion-row>
          <ion-col size="7" class="ion-no-padding">
            <ion-item lines="none">
              <img src="assets/images/job-phone.svg">
              <ion-label>
                <h4>Phone:</h4>
                <h2>+1 (629) 852693</h2>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="5" class="ion-no-padding">
            <ion-item lines="none">
              <img src="assets/images/facility.svg">
              <ion-label>
                <h4>Facility Type:</h4>
                <h2>Barrel Racing  -  Dressage</h2>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="7" class="ion-no-padding">
            <ion-item lines="none">
              <img src="assets/images/deadline.svg">
              <ion-label>
                <h4>Applied Date/Time:</h4>
                <h2>May 31, 2022  -  12:07am</h2>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

      </div>
      
    </ion-card>

    <ion-card routerLink="/applicantdetails" >
      <ion-item lines="none" class="ion-no-padding">

          <img class="applicant-img" src="assets/images/andrea.png">

        <ion-label>
          <h1>Andrea Piacquadio</h1>    
          <p>Full-Stack JavaScript Developer</p>
        </ion-label>
      </ion-item>

      <div card-content>
        <ion-row>
          <ion-col size="7" class="ion-no-padding">
            <ion-item lines="none">
              <img src="assets/images/job-phone.svg">
              <ion-label>
                <h4>Phone:</h4>
                <h2>+1 (629) 852693</h2>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="5" class="ion-no-padding">
            <ion-item lines="none">
              <img src="assets/images/facility.svg">
              <ion-label>
                <h4>Facility Type:</h4>
                <h2>Barrel Racing  -  Dressage</h2>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="7" class="ion-no-padding">
            <ion-item lines="none">
              <img src="assets/images/deadline.svg">
              <ion-label>
                <h4>Applied Date/Time:</h4>
                <h2>May 31, 2022  -  12:07am</h2>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

      </div>
      
    </ion-card>
  </div>
</ion-content>

<ion-modal class="filter-applicants" trigger="applicant-filter">
  <ng-template>
    <ion-content>
      <ion-icon (click)="modalCtrl2.dismiss()" name="close-outline"></ion-icon>
      <ion-label><h1>Filters</h1></ion-label>
      <ion-row>
        <ion-col class="ion-no-padding" size="12">
          <div form-group>
            <ion-label>Filter by Job</ion-label>
            <ion-item lines="none">
              <ion-select  [interfaceOptions]="customAlertOptions13" placeholder="Please select" interface="alert">
                <ion-select-option value="candidates1"> Part Time </ion-select-option>
              <ion-select-option value="candidates2"> Full Time </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
        <ion-col class="ion-no-padding" size="6">
          <div form-group>
            <ion-label>From Date</ion-label>
            <ion-item lines="none">
              <ion-input type="date" value="Toronto, ON, Canada"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col class="ion-no-padding" size="6">
          <div form-group>
            <ion-label>To Date</ion-label>
            <ion-item lines="none">
              <ion-input type="date" value="Toronto, ON, Canada"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
     

      <div form-group>
        <ion-button save-btn shape="round" expand="full" color="primary">Apply Filters</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
