ion-header {
	position: relative;
    width: 100%;
    padding: 0 15px;
    background: #fafcff;
	&:after {
		display: none;
	}
	ion-toolbar {
		--border-width: 0px;
	    --min-height: 65px;
	    --background: transparent;
        ion-back-button{
            color: var(--ion-color-dark);
             font-size: 12px;
      }
	    ion-title{
	    	    font-size: 18px;
			    font-family: var(--ion-poppins-font);
			    font-weight: 600;
			    color: var(--ion-color-dark);
	    }
	}
}

ion-content {
    --background: #FAFCFF;
	background: #FAFCFF;
    [form-group]
				   {
				    margin-bottom:15px;
				    font-family: var(--ion-poppins-font);
				    ion-label
				   	 	{
						    font-size: 14px;
						    font-weight: 600;
						    color: #43444F;
						}
                        ion-row
                        {
                            margin-left:-5px;
                            margin-right:-5px;
                            ion-col
                            {
                                padding-top:0px;
                                padding-bottom:0px;
                            }
                        }
                        ion-item
                        { 
                            --padding-top: 0;
                            --padding-start: 15px;
                            background: var(--ion-color-secondary);
                            --background: var(--ion-color-secondary);
                            border-radius: 8px;
                            --min-height: 55px;
                            margin-top: 10px;
                            --padding-bottom: 0;
                            ion-buttons
                            {
                                font-size: 13px;
                                color:var( --ion-color-primary);
                                font-family:var(--ion-poppins-font);
                                font-weight: 600;
                                margin-left:10px;
                                opacity: 0.70;
                            }
                            ion-input , ion-select , ion-textarea
                            {
                            font-size: 14px;
                            --placeholder-font-weight:500;
                            font-weight: 600;
                            --placeholder-color: var(--ion-color-primary);
                            --placeholder-opacity: 0.60;
                            color: var(--ion-color-primary);
                            --padding-top: 0;
                            --padding-bottom: 0;
                            font-family: var(--ion-poppins-font);

                            }
                            ion-select{
                                min-width:100%;
                            }
                            ion-select::part(icon) {
                                content: url('../../assets/images/chevron-down.svg');
                                opacity: 1;
                              }
                          
                            ion-textarea
                            {font-size: 12px;
                                --padding-top: 15px;
                                opacity: 0.80;
                                line-height:1.5;
                            }
                            img{
                                border-left: 1px solid #c9c9c9;
                                 padding: 5px 5px 5px 12px;
                            }
                        }
				   }
                   .orflex {
                    display: flex;
                    align-items: center;
                    margin: 20px 0px;
                
                   h2 {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 28px;
                    letter-spacing: -0.3px;
                    color: #43444F;
                    flex-grow: 1;
                    margin: 0;
                    
                }
                hr {
                    border-bottom: 1px dashed #d1d1d1;
                    position: relative;
                    height: 3px;
                    flex-grow: 20;

                }
            }
                 
}

ion-footer{
    --background: #fff;
    background: #fff;
    ion-toolbar{
        --background: #fff;
        border-radius: 25px 25px 0 0;
        box-shadow: 0px 4px 74px rgb(22 35 60 / 20%);
        padding: 5px 20px 30px 20px;
            --border-width: 0;
   
    [ post-job-btn] {
        --box-shadow: none;
        min-height: 55px;
        color: var(--ion-color-white);
        --border-radius: 5px;
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0px;
        font-family: var(--ion-poppins-font);
        letter-spacing: 0;
        margin-top:20px;
    }
    }
}