<ion-header mode="ios">
  <ion-toolbar lines="none">
    <ion-back-button slot="start" defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
	
      <ion-title class="ttl-left">
           Search Jobs
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="search-top">
		<div class="serch-bx">
			 <ion-input Value="Designer"></ion-input>
		     <a href="javascript:void(0)" class="close-ic"> <ion-icon name="close-outline"></ion-icon> </a>
         <a href="javascript:void(0)" class="filtr-ic"> <ion-icon name="options-outline"></ion-icon> </a>
		</div>
		
	</div>

  <div filter-bar>
        <h1>Job Result: <span>146  Jobs found</span></h1>
<ion-label>
            <ion-badge><img src="assets/images/x-circle.svg">Fulltime</ion-badge>

            <ion-badge> <img src="assets/images/x-circle.svg"> New York</ion-badge>

            <ion-badge><img src="assets/images/x-circle.svg"> UI/UX Design</ion-badge>
          </ion-label>

  </div>
<div searchjoblist>
  <ion-card routerLink="/jobdetails" >
    <ion-item lines="none" class="ion-no-padding">

        <img class="job-img whitehorse" src="assets/images/jobone.png">

      <ion-label>
        <h1>Bryn Mawr Riding Camp</h1>    
          <div active-status>
            <h2>$40 <span>per hour</span></h2>
            <span statusactive>Active</span>
          </div>  
      </ion-label>
    </ion-item>

    <div card-content>
      <ion-row>
        <ion-col size="7" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/location.svg">
            <ion-label>
              <h4>Location:</h4>
              <h2>Toronto, ON, Canada</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="5" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/deadline.svg">
            <ion-label>
              <h4>Deadline:</h4>
              <h2>May 31, 2022</h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="7" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/deadline.svg">
            <ion-label>
              <h4>Created on:</h4>
              <h2>January 18, 2022</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="5" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/application.svg">
            <ion-label>
              <h4>Applications:</h4>
              <h2>18</h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/facility.svg">
            <ion-label>
              <h4>Facility Type:</h4>
              <h2>Barrel Racing  -  Dressage</h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

    </div>
    
  </ion-card>

  <ion-card routerLink="/jobdetails" >
    <ion-item lines="none" class="ion-no-padding">

        <img class="job-img" src="assets/images/jobtwo.png">

      <ion-label>
        <h1>Fullstack Dev.</h1>    
          <div active-status>
            <h2>$35 <span>per hour</span></h2>
            <span statusinactive>Inactive</span>
          </div>  
      </ion-label>
    </ion-item>

    <div card-content>
      <ion-row>
        <ion-col size="7" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/location.svg">
            <ion-label>
              <h4>Location:</h4>
              <h2>Toronto, ON, Canada</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="5" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/deadline.svg">
            <ion-label>
              <h4>Deadline:</h4>
              <h2>May 31, 2022</h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="7" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/deadline.svg">
            <ion-label>
              <h4>Created on:</h4>
              <h2>January 18, 2022</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="5" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/application.svg">
            <ion-label>
              <h4>Applications:</h4>
              <h2>18</h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/facility.svg">
            <ion-label>
              <h4>Facility Type:</h4>
              <h2>Barrel Racing  -  Dressage</h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

    </div>
    
  </ion-card>

  <ion-card routerLink="/jobdetails" >
    <ion-item lines="none" class="ion-no-padding">

        <img class="job-img" src="assets/images/jobthree.png">

      <ion-label>
        <h1>Fullstack Dev.</h1>    
          <div active-status>
            <h2>$35 <span>per hour</span></h2>
            <span statusinactive>Inactive</span>
          </div>  
      </ion-label>
    </ion-item>

    <div card-content>
      <ion-row>
        <ion-col size="7" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/location.svg">
            <ion-label>
              <h4>Location:</h4>
              <h2>Toronto, ON, Canada</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="5" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/deadline.svg">
            <ion-label>
              <h4>Deadline:</h4>
              <h2>May 31, 2022</h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="7" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/deadline.svg">
            <ion-label>
              <h4>Created on:</h4>
              <h2>January 18, 2022</h2>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="5" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/application.svg">
            <ion-label>
              <h4>Applications:</h4>
              <h2>18</h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-item lines="none">
            <img src="assets/images/facility.svg">
            <ion-label>
              <h4>Facility Type:</h4>
              <h2>Barrel Racing  -  Dressage</h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

    </div>
    
  </ion-card>

</div>

</ion-content>
