ion-header {
	position: relative;
    width: 100%;
	padding: 0 15px;
    background: #fafcff;
	&:after {
		display: none;
	}
	ion-toolbar {
		--border-width: 0px;
	    --min-height: 65px;
	    --background: transparent;
        ion-back-button{
            color: var(--ion-color-dark);
             font-size: 12px;
      }
	    ion-title{
	    	    font-size: 18px;
			    font-family: var(--ion-poppins-font);
			    font-weight: 600;
			    color: var(--ion-color-dark);
	    }
	}
}
ion-content {
    --background: #FAFCFF;
	background: #FAFCFF;
	[my-profile] {
		background: transparent;
	    padding: 10px 20px;
	    position: relative;
	    z-index: 1;
	    margin-top: 0;
    [profile-img-div]{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .profile-pic{
            position: relative;
            min-width: 167px;
             min-height: 167px;
            img{
            width: 167px;
             height: 167px;
            border-radius: 100%;
            }
        }   
        h1{
            font-size: 16px;
            color: #000;
            font-weight: 600;
            margin-top: 15px;
            margin-bottom: 8px;

        } 
        h2{
            color: #43444F;
            font-size: 14px;
            margin-bottom: 10px;
        }
        ion-icon{
            margin-right: 5px;
        }
    }
    ion-grid{
        padding: 30px 0;
        h1{
            font-size: 15px;
            color: #000;
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 0px;

        } 
        h2{
            color: #43444F;
            font-size: 12px;
            margin-bottom: 10px;
            margin-top: 0;
        }
        [border-colmn]{
            border-right:1px solid #16233c;
            border-left:1px solid #16233c;
        }
    }
	
		}
}
ion-footer{
    --background:#fff;
    background: #fff;
    [list-one] {
        background: #fff !important;
        contain: initial;
        ion-item {
                        padding: 30px 20px;
                --inner-padding-end: 0;
                --padding-start: 0px;
                border-radius: 30px 30px 0 0;
                margin-bottom: 0px;
                --detail-icon-color: var(--ion-color-primary);
                --detail-icon-opacity: 1;
                --background-hover: #fff;
                background: #fff;
                box-shadow: 0px 4px 14px rgb(22 35 60 / 26%);
            ion-title{
                font-size: 16px;
                font-family: var(--ion-poppins-font);
                font-weight: 600;
                padding:0;
                color: var(--ion-color-dark);
        }
            ion-label {
                margin: 0;
            }
        }
        [div-one]{
            margin-right: 10px;
            h1{
                font-size: 16px;
                margin: 0;
                font-weight: 600;
            }
            p{
                font-size: 14px;
                margin: 7px 0 0 0;
            }
        }
    }
    [list-two] {
        background: #fff !important;
        contain: initial;
        ion-item {
            padding: 35px 20px;
            --inner-padding-end: 0;
            --padding-start:0px;
            border-radius: 20px 20px 0 0;
            margin-bottom: 0px;
            --detail-icon-color: var(--ion-color-primary);
            --detail-icon-opacity: 1;
            --background-hover: #16233c;
            background: #16233c;
            margin: -10px 0 0 0;
            ion-title{
                font-size: 16px;
                font-family: var(--ion-poppins-font);
                font-weight: 600;
                padding:0;
                color: var(--ion-color-dark);
        }
            ion-label {
                margin: 0;
            }
        }
    }
    [div-two]{
        margin-right: 10px;
        h1{
            font-size: 16px;
            margin: 0;
            font-weight: 600;
            color: var(--ion-color-light);
        }
        p{
            font-size: 14px;
            margin: 7px 0 0 0;
            color: var(--ion-color-light);
        }
    }
}