<ion-header mode="ios" [class.show-background]="showToolbar">
  <ion-toolbar lines="none">
    <ion-back-button slot="start" defaultHref="/tabs-em/tabs-em/em-profile" text="" icon="arrow-back-outline">
    </ion-back-button>
    <ion-title>
      My Current Subscription
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div subscriptionSlider>
    <ion-slides pager="true" [options]="slideOpts" class="opoacit">
      <ion-slide *ngFor="let data of subscriptionData">
        <div class="layers-main">
          <div sbtn-crd-tp>

            <ng-container *ngIf="data?.packageDetail.type == 'free'">
              <div plan-Type>Bronze</div>
              <div plan-price>
                Free
              </div>
            </ng-container>
            <ng-container *ngIf="data?.packageDetail.type == 'paid'">
              <div plan-Type>{{ data?.packageName }}</div>
              <div plan-price>
                <sub>$</sub>{{ data?.packageDetail.pkg_price}}
              </div>
              <p><span>Valid till:</span> {{ data?.packageExpiry}}</p>
              <h2>Price (CAD+ tax)</h2>
            </ng-container>




          </div>
          <div sbtn-crd-bdy>
            <ul *ngFor="let feature of data?.packageDetail.features">
              <li [ngClass]="{'light_li': feature?.status === 'inactive'}">
                <ion-icon name="checkmark-circle"></ion-icon> {{ feature?.title }}
              </li>
            </ul>

          </div>
        </div>
      </ion-slide>
    </ion-slides>

  </div>
</ion-content>