<ion-header>
   <ion-toolbar lines="none">
	
	<ion-buttons slot="end">
		<ion-icon name="close"></ion-icon>
	</ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content paymentsucessfull>
	<div class="bg-main">
		<h3>Payment Successfull!</h3>
		<img img-check src="assets/images/successful-img.png">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
	</div>
</ion-content>
<ion-footer>
	<ion-button expand="full" color="primary" shape="round" routerLink="/">
	Done
	</ion-button>
</ion-footer>

