ion-header {
	position: relative;
    width: 100%;
    padding: 0 15px;
    background: #fafcff;
	&:after {
		display: none;
	}
	ion-toolbar {
		--border-width: 0px;
	    --min-height: 65px;
	    --background: transparent;
	    ion-title{
	    	    font-size: 18px;
			    font-family: var(--ion-poppins-font);
			    font-weight: 600;
			    color: var(--ion-color-dark);
	    }
	}
}

ion-content {
	--background:#FAFCFF;

	h4.sec-ttl {
		margin: 0  0px 10px;
		font-size: 16px;
		position: relative;
		z-index: 0;
		font-weight: 600;
		color:var(--ion-color-dark);
		display: flex;
		align-items: center;
		justify-content: space-between;
		 font-family: var(--ion-poppins-font);
		 padding: 0 16px 0px 0px;
		.rit-all {
			float: right;
			font-size: 14px;
			text-decoration: none;
			font-weight: 500;
			color:var(--ion-color-blue);
		}
	
	}

[myjobs-pge]{
	margin-top: 20px;
	padding: 0 20px;
	margin-bottom: 20px;
ion-card
		{
			width:100%;
			margin:15px 0;
			padding: 10px;
			border-radius: 12px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
			ion-item
			{
				
				
				ion-label
				{font-family: var(--ion-poppins-font);
					margin:0px 0px 0px 15px;
					
					h1
					{   
						
						font-size:16px;
						font-weight:600;
						color:#2A3746;
						margin-bottom: 10px;
					}
					[active-status]{
						display:flex;
						justify-content: space-between;
						align-items: center;
					h2
					{
						font-size:22px;
						font-weight:600;
						color:#2A3746;
						margin-top: 0px;
						display: flex;
							align-items: center;
						span {
							color:#8A919D;
							font-size:12px;
							font-weight:400;
							margin-left: 5px;
						}
					}
					[statusactive]{
						color:#3ABB25;
						font-weight: 700;
						font-size:12px;
					
					}
					[statusinactive]{
						color:#F4C751;
						font-weight: 700;
						font-size:12px;
					
					}
				}
				}
			}
			[card-content]{
				background: #EEF4FF;
				border: 1px solid #DEE6F0;
				box-sizing: border-box;
				border-radius: 8px;
				margin-top: 10px;
				padding: 20px 10px 10px 10px;
				ion-row{
					justify-content: space-between;
					ion-col{
						ion-item{
							--background: transparent;
							background: transparent;
							align-items: start;
							--padding-start: 0;
							--padding-end: 0;
							img{
								margin: 2px;
							}
							ion-label{
								margin: 0px 0px 0px 5px;
								
							h4{
								font-weight: 400;
								font-size: 10px;
								line-height: 15px;
								display: flex;
								align-items: center;
								color: #2A3746;
								opacity: 0.5;
							}
							h2{
								font-weight: 500;
								font-size: 10px;
								line-height: 15px;
								color: #444E61;
							}
						}
						}
					}
				}
			}
		}
}
}
