<ion-header>
  <ion-toolbar lines="none">
    <ion-back-button slot="start" defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
 <ion-title class="ttl-left">
   Basic Information
 </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div basic-info>

  <ul>
    <li><h2>First Name</h2></li>
    <li><h1>Alex</h1></li>
  </ul>
  <ul list-border>
    <li><h2>Last Name</h2></li>
    <li><h1>Williams</h1></li>
  </ul>
  <ul list-border>
    <li><h2>Gender</h2></li>
    <li><h1>Male</h1></li>
  </ul>
  <ul list-border>
    <li><h2>Date of Birth</h2></li>
    <li><h1>20/05/89</h1></li>
  </ul>
  <ul list-border>
    <li><h2>Postcode</h2></li>
    <li><h1>456009</h1></li>
  </ul>
  <ul list-border>
    <li><h2>Email</h2></li>
    <li><h1>alxwlliams15@gmail.com</h1></li>
  </ul>
  <ul list-border>
    <li><h2>Phone Number</h2></li>
    <li><h1>123-456-7890</h1></li>
  </ul>


</div>
</ion-content>
