ion-header {
	position: relative;
    width: 100%;
	padding: 0 15px;
    background: #fafcff;
	&:after {
		display: none;
	}
	ion-toolbar {
		--border-width: 0px;
	    --min-height: 65px;
	    --background: transparent;
	    ion-title{
	    	    font-size: 18px;
			    font-family: var(--ion-poppins-font);
			    font-weight: 600;
			    color: var(--ion-color-dark);
	    }
	}
}
ion-content {
    --background: #FAFCFF;
	background: #FAFCFF;
	[search-message]{
        border-radius: 12px;
        margin: 20px 20px 20px 20px;
        box-shadow: 0px 0px 54px rgb(0 0 0 / 8%);
        ion-searchbar{
            --background: #ffffff;
            --border-radius: 12px;
            --icon-color: #16243D;
            --color: #16243D;
            font-weight: 600;
            padding:0;
        }
}
[messages-div]{
    padding: 0 20px;
            ion-item{        
    box-shadow: 0px 0px 10px rgba(0,0,0,0.07);
    border-radius: 12px;
    --padding-start: 12px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    --inner-padding-end: 12px;
     margin-bottom:15px;
     [new-item]{ 
        display:flex;
        width: 100%;
        align-items: center;
    ion-thumbnail
    {
        width:48px;
        height:48px;
        margin:0;
        img
        {
            border-radius: 8px;
        }
        
    }
    ion-label
    {margin:0px 0px 0px 15px;
        width: 100%;
        h2{
            font-size:13px;
            color:#000;
            font-family: var(--ion-poppins-font);
            font-weight: 500;
            display: flex;
             justify-content: space-between;
             align-items: center;
             span{
                 color: #000;
                 font-size: 9px;
                 opacity: 0.5;
             }
        }
        p{
            font-size:11px;
            color:#747474;
            font-family: var(--ion-poppins-font);
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                ion-badge{
                    --background: #16233C;
                    width: 20px;
                    height: 20px;
                    line-height: 14px;
                    font-size: 9px;
                    margin-right: 2px;
                }
            }
        }
    }
}
}
}
    }


::ng-deep{
    .searchbar-input-container{
        height:55px !important;
        input{
            padding-inline-start: 55px !important;
        }
            .searchbar-search-icon{
            left:25px !important;
        }
    }

}
