ion-header {
	position: relative;
    width: 100%;
	padding: 0 15px;
    background: #fafcff;
	&:after {
		display: none;
	}
	ion-toolbar {
		--border-width: 0px;
	    --min-height: 65px;
	    --background: transparent;
	    ion-title{
	    	    font-size: 18px;
			    font-family: var(--ion-poppins-font);
			    font-weight: 600;
			    color: var(--ion-color-dark);
	    }
	}
}

ion-content {
    --background: #FAFCFF;
	background: #FAFCFF;
	[choose-payment-method] {
		background: transparent;
	    padding: 10px 20px;
	    position: relative;
	    z-index: 1;
	    margin-top: 0;
		ion-list {
			background: transparent !important;
			contain: initial;
			ion-item {
				padding: 15px;
				--inner-padding-end: 0;
				--padding-start:0px;
			    border-radius: 12px;
			    margin-bottom: 15px;
			    --detail-icon-color: var(--ion-color-primary);
			    --detail-icon-opacity: 1;
			    --background-hover: #fff;
			    background: #fff;
			    box-shadow: 0px 4px 14px rgba(22, 35, 60, 0.06);
                ion-title{
                    font-size: 14px;
                    font-family: var(--ion-poppins-font);
                    font-weight: 600;
                    padding:0;
                    color: var(--ion-color-dark);
            }
				ion-icon {
					color: #A7A7A7;
					font-size: 26px;
				}
				ion-thumbnail{
					img{
					  width: 60px;
					  height: 60px;
					  border-radius: 10px;
					  object-fit: cover;
					}
				}
			}
		}
        [noti-cont]{
            padding:0 15px;
            h1{
                font-size: 11px;
                margin: 0;
                line-height: 20px;
                span{
                    font-weight: 700;
                }
            }
            h2{
                font-size: 11px;
                margin: 0;
            }
            p{
                color: #2A3746;
                font-size: 9px;
                display: flex;
                 align-items: center;
                 margin: 5px 0 0 0;
                 img{
                     margin-right: 3px;
                 }
            }
        }
		}
}