<ion-tabs>

  <ion-tab-bar slot="bottom">

      <ion-tab-button tab="em-home">
        <span> 
          <img src="assets/images/home-icon.svg" alt="">
        </span>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="em-appliedjobs">
       <span> 
          <img src="assets/images/postjob-icon.svg" alt="">
       </span>
        <ion-label>Applied Jobs</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="messages">
       <span> 
          <img src="assets/images/message-icon.svg" alt="">
       </span>
        <ion-label>Messages</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="em-notifications">
        <span> 
          <img src="assets/images/notifications.svg" alt="">
        </span>
        <ion-label>Notifications</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="em-profile">
          <span> 
          <img src="assets/images/profile-icon.svg" alt="">
        </span>
        <ion-label>Profile</ion-label>
      </ion-tab-button>

   </ion-tab-bar>

</ion-tabs>
