<ion-header>
  <ion-toolbar lines="none">
 <ion-title class="ttl-left">
   Notifications
 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div choose-payment-method>
     <ion-list choose-mtd-lst>
       <ion-item detail="false" lines="none" routerLink="#">
        <ion-thumbnail>
          <img src="assets/images/noti-1.png">
        </ion-thumbnail>
        <ion-label noti-cont>
          <h1><span>Andrew </span>applied on your</h1>
          <h2> job post.</h2>
          <p><img src="assets/images/clock.svg"> Dec 27, 2021</p>
        </ion-label>
       </ion-item>
       <ion-item detail="false" lines="none" routerLink="#">
        <ion-thumbnail>
          <img src="assets/images/noti-2.png">
        </ion-thumbnail>
        <ion-label noti-cont>
          <h1><span>Andrew </span>applied on your</h1>
          <h2> job post.</h2>
          <p><img src="assets/images/clock.svg"> Dec 27, 2021</p>
        </ion-label>
       </ion-item>
       <ion-item detail="false" lines="none" routerLink="#">
        <ion-thumbnail>
          <img src="assets/images/noti-3.png">
        </ion-thumbnail>
        <ion-label noti-cont>
          <h1><span>Andrew </span>applied on your</h1>
          <h2> job post.</h2>
          <p><img src="assets/images/clock.svg"> Dec 27, 2021</p>
        </ion-label>
       </ion-item>
       <ion-item detail="false" lines="none" routerLink="#">
        <ion-thumbnail>
          <img src="assets/images/noti-4.png">
        </ion-thumbnail>
        <ion-label noti-cont>
          <h1><span>Andrew </span>applied on your</h1>
          <h2> job post.</h2>
          <p><img src="assets/images/clock.svg"> Dec 27, 2021</p>
        </ion-label>
       </ion-item>
     </ion-list>
   </div>
</ion-content>

